:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;
  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  background: var(--clr-accent-dark);
  padding: 1em 2em;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-accent-dark);
}

.fixed-nav .links a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  text-align: center;
}

.fixed-nav .links a:hover {
  color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-neutral);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-accent);
}

.links-container {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: 300px;
}

.links a {
  background: var(--clr-accent-dark);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 4em;
  text-align: center;
  list-style: none;
  display: block;
}

img.profile-link {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

h1 a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  font-family: var(--ff-head);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.links a:hover {
  color: var(--clr-accent);
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 10em;
  height: 12em;
  top: 10em;
  right: 2em;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.dropdown-content h3 {
  width: 100%;
  text-align: center;
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2em;
  position: relative;
}
.dropdown-content h3::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent);
  height: 1px;
  width: 80%;
  bottom: 0;
  left: 10%;
}
.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.dropdown-content li {
  cursor: pointer;
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

#registerModal.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 0;
  background-color: #fff;
  z-index: 2;
}
#registerModal.modal h1 {
  font-family: var(--ff-head);
  color: var(--clr-primary-dark);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  margin-bottom: 2em;
  width: 400px;
}
#registerModal.modal #close-register-popup {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
#registerModal.modal #close-register-popup svg {
  width: 1em;
  height: 1em;
}
#registerModal.modal .reg-error {
  margin-top: 0.3em;
}

#loginModal.center {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-neutral);
  padding: 2em 0;
  z-index: 10;
}
#loginModal.center h1 {
  font-family: var(--ff-head);
  color: var(--clr-primary-dark);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  margin-bottom: 2em;
  width: 400px;
}

.center form {
  padding: 0 4em;
}

form .txt-field {
  position: relative;
  margin: 3em 0;
}
form .txt-field input {
  width: 100%;
  border: 1px solid var(--clr-accent);
  padding: 0 0.5em;
  height: 2em;
  width: 20em;
  font-size: 1.6em;
}
form .txt-field label {
  position: absolute;
  top: -1em;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
  letter-spacing: 0.03rem;
  pointer-events: none;
}

input[type=submit] {
  width: 7.5em;
  height: 3em;
  border: 1px solid;
  background: var(--clr-primary-neutral);
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  margin-top: -1em;
  cursor: pointer;
}

input[type=submit]:hover {
  background: var(--clr-accent);
  transition: 0.5s;
}

.signup-link {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
  color: var(--clr-primary-dark);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}
.signup-link a {
  color: var(--clr-accent-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  text-decoration-line: underline;
}

#close-login-popup {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
#close-login-popup svg {
  width: 1em;
  height: 1em;
}

#profileModal.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#profileModal.modal .center {
  margin: 0 auto;
  width: 60em;
  height: 100%;
  margin-top: 3em;
  display: grid;
  position: relative;
}
#profileModal.modal .left-col {
  background-color: var(--clr-accent-dark);
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#profileModal.modal .left-col .profile-data {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#profileModal.modal .left-col .avatar {
  width: 8em;
  height: 8em;
  background-color: var(--clr-primary-neutral);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
#profileModal.modal .left-col .letters {
  color: var(--clr-accent);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem; /* 100% */
  text-transform: capitalize;
  margin: 0 auto;
}
#profileModal.modal .left-col .profile-name-container {
  width: 12em;
  height: 3em;
  background-color: var(--clr-primary-neutral);
  display: flex;
  align-items: center;
}
#profileModal.modal .left-col .profile-name {
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem; /* 100% */
  text-transform: capitalize;
  margin: 0 auto;
}
#profileModal.modal .right-col {
  background-color: var(--clr-primary-neutral);
  grid-column-start: 2;
  padding: 2em;
}
#profileModal.modal #close-profile-popup {
  position: absolute;
  right: 1em;
  top: 1em;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
#profileModal.modal #close-profile-popup svg {
  width: 1em;
  height: 1em;
}
#profileModal.modal h1 {
  color: var(--clr-primary-dark);
  text-align: left;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 50% */
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  padding-bottom: 1em;
}
#profileModal.modal .stats {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
}
#profileModal.modal .first-card,
#profileModal.modal .second-card,
#profileModal.modal .third-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}
#profileModal.modal .first-card h3,
#profileModal.modal .second-card h3,
#profileModal.modal .third-card h3 {
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.04rem;
  text-transform: capitalize;
}
#profileModal.modal .first-card img,
#profileModal.modal .second-card img,
#profileModal.modal .third-card img {
  margin: 0.5em;
}
#profileModal.modal .first-card .visits,
#profileModal.modal .first-card .bonuses,
#profileModal.modal .first-card .books,
#profileModal.modal .second-card .visits,
#profileModal.modal .second-card .bonuses,
#profileModal.modal .second-card .books,
#profileModal.modal .third-card .visits,
#profileModal.modal .third-card .bonuses,
#profileModal.modal .third-card .books {
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem; /* 200% */
  letter-spacing: 0.02rem;
  text-transform: capitalize;
}
#profileModal.modal .your-books h2 {
  color: var(--clr-accent-dark);
  text-align: left;
  font-family: var(--ff-body);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 80% */
  margin-bottom: 1em;
}
#profileModal.modal .your-books ul li a {
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  text-decoration: none;
}
#profileModal.modal .your-books ul {
  margin-bottom: 2em;
  margin-left: 2em;
}
#profileModal.modal .card-number {
  display: flex;
  gap: 0.2em;
  justify-content: flex-start;
}
#profileModal.modal .card-number h3 {
  color: var(--clr-accent-dark);
  text-align: left;
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.04rem;
}
#profileModal.modal .card-number input {
  border: transparent;
  color: var(--clr-accent);
  background-color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem; /* 100% */
  max-width: 100px;
}
#profileModal.modal .card-number .copy-container a {
  text-decoration: none;
}
#profileModal.modal .card-number #copy-button {
  cursor: pointer;
  border: transparent;
  background-color: var(--clr-primary-neutral);
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 a {
    color: var(--clr-primary-neutral);
    text-decoration: none;
    font-family: var(--ff-head);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .links a {
    color: var(--clr-primary-neutral);
    font-family: var(--ff-body);
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    background: transparent;
  }
  .links a:hover {
    color: var(--clr-accent);
  }
  a.profile-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
header {
  min-height: 100vh;
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%), url(./img/hero.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  position: relative;
}

.container {
  background: var(--clr-accent-dark);
  width: 45%;
  padding: 3.5em 4em;
  position: absolute;
  left: 0;
  top: 20em;
}

.container h2 {
  color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .container h2 {
    font-size: 2rem;
  }
  .action {
    position: absolute;
    top: 20px;
    right: 55px;
  }
  img.profile-link {
    margin-top: 0.2em;
  }
}
@media screen and (max-width: 800px) {
  .action .menu {
    position: absolute;
    top: 45px;
    right: -35px;
    padding: 1em;
    background: var(--clr-primary-neutral);
    width: 8em;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
    /* for js */
    visibility: hidden;
    opacity: 0;
    z-index: 111;
  }
  .action .menu ul li a {
    background: transparent;
    color: var(--clr-primary-dark);
    cursor: pointer;
  }
}
main {
  padding: 0 2em;
}

.section h2 {
  color: var(--clr-accent-dark);
  font-family: var(--ff-head);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}
.section h2::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent-dark);
  height: 1px;
  width: 2em;
  bottom: 0;
  left: 50%; /* Move it to the horizontal center of the container */
  transform: translateX(-50%); /* Center it horizontally */
}

#about p {
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2em; /* 200% */
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: flex; /* Use flexbox to center vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2em;
  padding: 1.5em;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 0 2px;
  background-color: var(--clr-primary-dark);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--clr-accent);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 800px) {
  .slideshow-container {
    display: none;
  }
  .dots {
    display: none;
  }
  .gallery {
    justify-content: center;
    gap: 1em;
    display: flex;
    max-width: 100%;
  }
  .gallery img {
    max-width: 100%;
    height: auto;
    display: none;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
  }
  .pagination li {
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
    margin: 0 2px;
    background-color: var(--clr-primary-dark);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .pagination li:hover {
    background-color: var(--clr-accent);
  }
  .pagination .active {
    background-color: var(--clr-accent);
  }
}
@media (max-width: 800px) {
  .pagination-container {
    display: none;
  }
  .pagination {
    display: none;
  }
  .gallery img {
    display: none;
  }
}
#favorites {
  margin-right: 3em;
  position: relative;
  /* Style labels for unchecked radio buttons */
  /* Style labels for checked radio buttons */
  /* CSS to change the color of the radio button */
  /* Style the dot when the radio button is checked */
}
#favorites h2 {
  margin-right: -1em;
}
#favorites h4 {
  color: var(--clr-primary-dark);
  text-align: left;
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 700;
}
#favorites label {
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.2rem;
}
#favorites input[type=radio] + label {
  font-weight: 400;
}
#favorites input[type=radio]:checked + label {
  font-weight: 700;
}
#favorites input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid black;
  border-radius: 50%; /* Make it circular */
  outline: none;
  background-color: transparent; /* Remove the dot background */
  min-height: 1em;
  min-width: 1em;
}
#favorites input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 0.65em;
  height: 0.65em;
  background: black; /* Set the dot color to black */
  border-radius: 50%;
  margin: 0.11em; /* Adjust the position of the dot */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 2em;
}
.cards p {
  max-width: 30em;
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3em;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  padding-right: 1em;
  margin: 1em 0;
}

.card {
  display: none;
  border: 1px solid #000;
  background: var(--clr-primary-neutral);
  padding: 1em;
  width: 50em;
  height: 50.5em;
  position: relative;
}
.card h3 {
  color: #000;
  font-family: Forum;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  position: relative;
}
.card h3::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent);
  height: 1px;
  width: 10%;
  bottom: 0;
  left: 0;
}
.card h4 {
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 3em; /* 266.667% */
  letter-spacing: 0.2rem;
  margin-top: 1em;
}
.card span {
  text-transform: uppercase;
}
.card button {
  background: transparent;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
}
.card button:hover,
.card button:focus {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

.card.active {
  display: block;
}
.card.active img {
  position: absolute;
  content: "";
  bottom: -0.1em;
  right: -3em;
  width: 16em;
  height: 26em;
}

.season-selector {
  margin: 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.season-selector label {
  margin-left: 1em;
  margin-right: 5em;
}

@media (max-width: 800px) {
  .season-selector {
    justify-content: space-between;
  }
  .card {
    margin: 0 auto;
  }
}
.modal-buy-wrapper {
  display: none;
  font-family: var(--ff-body);
  background: var(--clr-primary-neutral);
  margin: 0 auto;
  width: 68em;
  height: auto;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: black 2px solid;
}
.modal-buy-wrapper .modal-header {
  background: var(--clr-primary-dark);
  height: 6em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10em;
}
.modal-buy-wrapper h1 {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 50% */
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
.modal-buy-wrapper #close-buy-popup {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.modal-buy-wrapper #close-buy-popup svg {
  width: 1.5em;
  height: 1.5em;
}
.modal-buy-wrapper .modal-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3em;
  margin: 3em;
}
.modal-buy-wrapper form .txt-field {
  position: relative;
  margin: 3em 0;
}
.modal-buy-wrapper form .txt-field label {
  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 133.333% */
  letter-spacing: 0.03rem;
  position: absolute;
  top: -1em;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
}
.modal-buy-wrapper form .txt-field input {
  border: 1px solid #bb945f;
}
.modal-buy-wrapper button {
  background: transparent;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  border: 1px solid #0c0c0e;
  width: 7.5rem;
  height: 3rem;
  cursor: pointer;
}
.modal-buy-wrapper button:hover,
.modal-buy-wrapper button:focus {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}
.modal-buy-wrapper .price {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2em; /* 100% */
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.modal-buy-wrapper .buy {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  margin-top: 1em;
}
.modal-buy-wrapper .card-date {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.modal-buy-wrapper .card-date input {
  width: 4.5em;
}
.modal-buy-wrapper .cvc {
  width: 4.5em;
}
.modal-buy-wrapper .right {
  display: flex;
  align-self: flex-start;
}
.modal-buy-wrapper p {
  max-width: 33em;
  color: #8e8e8e;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2em; /* 133.333% */
  letter-spacing: 0.2em;
  margin-top: 0.5em;
}

#coffee {
  /* Reset default list styles */
  /* Style for each menu item */
  /* Style for the menu item names */
  /* Style for the lines */
}
#coffee p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4em; /* 200% */
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
#coffee .title-menu {
  color: #bb945f;
  font-family: Forum;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#coffee .title-menu::before {
  display: none;
}
#coffee .all-menu {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#coffee .left-menu,
#coffee .right-menu ul {
  list-style: none;
  padding: 0;
}
#coffee .position {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Adjust spacing between items */
  color: #000;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#coffee .name-menu {
  min-width: 150px; /* Fixed width for consistent spacing */
  display: inline-block;
}
#coffee .line {
  width: 5em;
  height: 0.1em;
  background-color: #bb945f;
  margin: 0 2em; /* Adjust space between line and text */
}
#coffee .long {
  margin-left: 1.4em;
}
#coffee .price-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align prices to the start of the line */
  margin-left: 1em; /* Space between items and lines */
  color: #000;
  font-family: Forum;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

#contacts h3,
#contacts span {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-weight: 700;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#contacts ul {
  list-style: none;
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#contacts .tel {
  margin-bottom: 1em;
}
#contacts .container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#contacts .container-contacts .left-col-cont {
  display: block;
}
#contacts .container-contacts .right-col-cont iframe.map {
  width: 69.6rem !important;
  height: 41.4rem !important;
  z-index: 999 !important;
}

#cards .wrapper-libcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#cards .wrapper-libcard .left-col-card {
  width: 60em;
  height: 38em;
}
#cards .wrapper-libcard .left-col-card h3 {
  color: #000;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  text-align: center;
  margin-bottom: 1.5em;
}
#cards .wrapper-libcard .left-col-card form {
  border: 2px solid var(--clr-accent);
  border-radius: 2px;
  padding: 1em;
  background-color: white;
}
#cards .wrapper-libcard .left-col-card form .center-form {
  background-color: #bb945f;
  padding-bottom: 3em;
}
#cards .wrapper-libcard .left-col-card form .center-form h2 {
  color: #000;
  font-family: Forum;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.06rem;
  margin: 0;
  text-align: left;
  margin-left: 1.5em;
}
#cards .wrapper-libcard .left-col-card form h2::before {
  display: none;
}
#cards .wrapper-libcard .left-col-card form .input-frame {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}
#cards .wrapper-libcard .left-col-card form input {
  border: 2px solid white;
  border-radius: 2px;
  width: 40em;
  height: 3em;
  padding-left: 1em;
}
#cards .wrapper-libcard .left-col-card form button {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: #ffffff;
  cursor: pointer;
}
#cards .wrapper-libcard .left-col-card form button:hover {
  background-color: #bb945f;
}
#cards .wrapper-libcard .left-col-card form .action-btn {
  text-align: center;
}
#cards .wrapper-libcard .right-col-card {
  height: 38em;
}
#cards .wrapper-libcard .right-col-card h3 {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}
#cards .wrapper-libcard .right-col-card p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.04rem;
}
#cards .wrapper-libcard .right-col-card .frame {
  width: 45em;
  margin: 3em 0;
}
#cards .wrapper-libcard .right-col-card .btns {
  text-align: right;
}
#cards .wrapper-libcard .right-col-card .btns button {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
}
#cards .wrapper-libcard .right-col-card .btns button:hover {
  background-color: #bb945f;
}

footer {
  background: #0c0c0e;
  padding: 2em;
  position: relative;
}
footer .part1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .part1::before {
  position: absolute;
  content: "";
  background-color: white;
  height: 1px;
  width: 100%;
  bottom: -2em;
}
footer .left-col-footer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
  justify-content: center;
}
footer .left-col-footer span {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2em; /* 133.333% */
}
footer .left-col-footer .icons {
  display: flex;
  gap: 1em;
  cursor: pointer;
}
footer .right-col-footer .working {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
footer .right-col-footer .working span {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5em; /* 133.333% */
}
footer .part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0 1em 0;
  position: relative;
}
footer .part2 #date,
footer .part2 .username {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
}
footer .part2 span {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.2rem;
}
footer i {
  color: white;
  font-size: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 1em;
}/*# sourceMappingURL=style.css.map */