:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;

  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
//= 10px

nav {
  background: var(--clr-accent-dark);
  padding: 1em 2em;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-accent-dark);
}
.fixed-nav .links a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  text-align: center;
}
.fixed-nav .links a:hover {
  color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
// toggle icon
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-neutral);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-accent);
}

.links-container {
  height: 0;
  overflow: hidden;
}
.show-links {
  height: 300px;
}
// for 5 links
// don't use with the dynamic toggle

// TOGGLE links

.links a {
  background: var(--clr-accent-dark);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 4em;
  text-align: center;
  list-style: none;
  display: block;
}

img.profile-link {
  width: 2em;
  height: 2em;

  cursor: pointer;
}

h1 a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  font-family: var(--ff-head);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}
.links a:hover {
  color: var(--clr-accent);
}

//NAV PROFILE DROPDOWN

.dropdown {
  display: none;
  position: absolute;
  background-color: white;

  z-index: 1;

  width: 10em;
  height: 12em;

  top: 10em;
  right: 2em;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  h3 {
    width: 100%;
    text-align: center;
    color: var(--clr-primary-dark);
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2em;

    position: relative;
  }

  // a line
  h3::before {
    position: absolute;
    content: "";
    background-color: var(--clr-accent);
    height: 1px;
    width: 80%;
    bottom: 0;
    left: 10%;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  li {
    cursor: pointer;
    color: var(--clr-primary-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
  }
}

//REGISTER
#registerModal.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 0;
  background-color: #fff;
  z-index: 2;

  h1 {
    font-family: var(--ff-head);
    color: var(--clr-primary-dark);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 2em;

    width: 400px;
    // optional for this case
  }

  #close-register-popup {
    position: absolute;
    right: 1em;
    top: 1em;

    background-color: transparent;
    border: transparent;

    cursor: pointer;

    svg {
      width: 1em;
      height: 1em;
    }
  }
}

//LOGIN
#loginModal.center {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-neutral);

  padding: 2em 0;

  z-index: 10; //to prevent the welcome title covering login modal

  h1 {
    font-family: var(--ff-head);
    color: var(--clr-primary-dark);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 2em;

    width: 400px;
    // optional for this case
  }
}

.center form {
  padding: 0 4em;
}

form .txt-field {
  position: relative;
  margin: 3em 0;

  input {
    width: 100%;
    border: 1px solid var(--clr-accent);
    padding: 0 0.5em;
    height: 2em;
    width: 20em;
    font-size: 1.6em;
  }

  label {
    position: absolute;
    top: -1em;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    letter-spacing: 0.03rem;

    pointer-events: none;
  }
}

input[type="submit"] {
  width: 7.5em;
  height: 3em;
  border: 1px solid;
  background: var(--clr-primary-neutral);
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;

  margin-top: -1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--clr-accent);
  transition: 0.5s;
}

.signup-link {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
  color: var(--clr-primary-dark);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;

  a {
    color: var(--clr-accent-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-decoration-line: underline;
  }
}
#close-login-popup {
  position: absolute;
  right: 1em;
  top: 1em;

  background-color: transparent;
  border: transparent;

  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
  }
}

//PROFILE
#profileModal.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  .center {
    margin: 0 auto;
    width: 60em;
    height: 100%;
    margin-top: 3em;
    display: grid;
    position: relative;
  }

  .left-col {
    background-color: var(--clr-accent-dark);
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profile-data {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .avatar {
      width: 8em;
      height: 8em;
      background-color: var(--clr-primary-neutral);

      display: flex;
      align-items: center;

      margin-bottom: 1em;
    }

    .letters {
      color: var(--clr-accent);
      text-align: center;
      font-family: var(--ff-body);
      font-size: 2rem;
      font-weight: 400;
      line-height: 2rem; /* 100% */
      text-transform: capitalize;

      margin: 0 auto;
    }

    .profile-name-container {
      width: 12em;
      height: 3em;
      background-color: var(--clr-primary-neutral);

      display: flex;
      align-items: center;
    }

    .profile-name {
      color: var(--clr-primary-dark);
      text-align: center;
      font-family: var(--ff-body);
      font-size: 1.5rem;

      font-weight: 400;
      line-height: 2rem; /* 100% */
      text-transform: capitalize;

      margin: 0 auto;
    }
  }

  .right-col {
    background-color: var(--clr-primary-neutral);
    grid-column-start: 2;
    padding: 2em;
  }

  #close-profile-popup {
    position: absolute;
    right: 1em;
    top: 1em;

    background-color: transparent;
    border: transparent;

    cursor: pointer;

    svg {
      width: 1em;
      height: 1em;
    }
  }

  h1 {
    color: var(--clr-primary-dark);
    text-align: left;
    font-family: var(--ff-head);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 50% */
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    padding-bottom: 1em;
  }

  .stats {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
  }

  .first-card,
  .second-card,
  .third-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2em;

    h3 {
      color: var(--clr-primary-dark);
      text-align: center;
      font-family: var(--ff-body);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem; /* 100% */
      letter-spacing: 0.04rem;
      text-transform: capitalize;
    }

    img {
      margin: 0.5em;
    }

    .visits,
    .bonuses,
    .books {
      color: var(--clr-primary-dark);
      text-align: center;
      font-family: var(--ff-body);
      font-size: 1rem;
      font-weight: 400;
      line-height: 2rem; /* 200% */
      letter-spacing: 0.02rem;
      text-transform: capitalize;
    }
  }

  .your-books {
    h2 {
      color: var(--clr-accent-dark);
      text-align: left;
      font-family: var(--ff-body);
      font-size: 2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem; /* 80% */

      margin-bottom: 1em;
    }

    ul li a {
      color: var(--clr-primary-dark);
      font-family: var(--ff-body);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem; /* 100% */
      letter-spacing: 0.2rem;
      text-transform: capitalize;

      text-decoration: none;
    }
    ul {
      margin-bottom: 2em;
      margin-left: 2em;
    }
  }

  .card-number {
    display: flex;
    gap: 0.2em;
    justify-content: flex-start;
    h3 {
      color: var(--clr-accent-dark);
      text-align: left;
      font-family: var(--ff-body);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem; /* 100% */
      letter-spacing: 0.04rem;
    }

    input {
      border: transparent;
      color: var(--clr-accent);
      background-color: var(--clr-primary-neutral);
      text-align: center;
      font-family: var(--ff-body);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem; /* 100% */

      max-width: 100px;
    }

    .copy-container a {
      text-decoration: none;
    }

    #copy-button {
      cursor: pointer;
      border: transparent;
      background-color: var(--clr-primary-neutral);
    }
  }
}

@media screen and (min-width: 800px) {
  .nav-center {
    // width: 90vw;
    // max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 a {
    color: var(--clr-primary-neutral);
    text-decoration: none;
    font-family: var(--ff-head);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .links a {
    color: var(--clr-primary-neutral);
    font-family: var(--ff-body);
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    background: transparent;
  }
  .links a:hover {
    color: var(--clr-accent);
  }
  a.profile-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

// HERO
header {
  min-height: 100vh;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url(./img/hero.jpg) center/cover no-repeat;
  // covering navbar
}
.banner {
  min-height: 100vh;
  // display: grid;
  // place-items: center;
  // text-align: center;
  position: relative;
}
.container {
  background: var(--clr-accent-dark);
  width: 45%;
  padding: 3.5em 4em;
  position: absolute;
  left: 0;
  top: 20em;
}
.container h2 {
  color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-weight: 400;

  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .container h2 {
    font-size: 2rem;
  }

  .action {
    position: absolute;
    top: 20px;
    right: 55px;
  }

  img.profile-link {
    margin-top: 0.2em;
  }
}

@media screen and (max-width: 800px) {
  .action .menu {
    position: absolute;
    top: 45px;
    right: -35px;
    padding: 1em;
    background: var(--clr-primary-neutral);
    width: 8em;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
    /* for js */
    visibility: hidden;
    opacity: 0;
    z-index: 111;
  }
  // .banner {
  //   // z-index: -2;
  //   // added to select profile menu
  // }

  .action .menu ul li a {
    background: transparent;
    // to see the background of a profile menu NOT the hamburger
    color: var(--clr-primary-dark);
    cursor: pointer;
    // z-index: 580;
  }
}

main {
  padding: 0 2em;
}
// check it

// sections
.section {
  // margin-bottom: 1em;

  h2 {
    color: var(--clr-accent-dark);
    font-family: var(--ff-head);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 4rem; /* 100% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;

    text-align: center;
    position: relative;

    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2::before {
    position: absolute;
    content: "";
    background-color: var(--clr-accent-dark);
    height: 1px;
    width: 2em;
    bottom: 0;
    left: 50%; /* Move it to the horizontal center of the container */
    transform: translateX(-50%); /* Center it horizontally */
  }
}

#about {
  p {
    color: var(--clr-primary-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2em; /* 200% */
  }
}
//slideshow

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

  display: flex; /* Use flexbox to center vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2em;
  padding: 1.5em;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 0 2px;
  background-color: var(--clr-primary-dark);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--clr-accent);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// Create another one for media through pagination

@media (min-width: 800px) {
  .slideshow-container {
    display: none;
  }

  .dots {
    display: none;
  }

  .gallery {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    // // grid-gap: 1em;
    justify-content: center;
    gap: 1em;
    display: flex;

    max-width: 100%;

    img {
      max-width: 100%;
      height: auto;
      display: none;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
    //repeat dots styles to avoid js conflict
    li {
      cursor: pointer;
      height: 1.2em;
      width: 1.2em;
      margin: 0 2px;
      background-color: var(--clr-primary-dark);
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    li:hover {
      background-color: var(--clr-accent);
    }

    .active {
      background-color: var(--clr-accent);
    }
  }
}

@media (max-width: 800px) {
  .pagination-container {
    display: none;
  }

  .pagination {
    display: none;
  }

  .gallery img {
    display: none;
  }
}

#favorites {
  margin-right: 3em;

  h2 {
    // text-align: center;
    margin-right: -1em;
  }

  h4 {
    color: var(--clr-primary-dark);
    text-align: left;
    font-family: var(--ff-body);
    font-size: 1.2rem;
    font-weight: 700;
  }

  label {
    color: var(--clr-primary-dark);
    font-family: var(--ff-body);
    font-size: 1.2rem;
  }

  /* Style labels for unchecked radio buttons */
  input[type="radio"] + label {
    font-weight: 400;
  }

  /* Style labels for checked radio buttons */
  input[type="radio"]:checked + label {
    font-weight: 700;
  }

  /* CSS to change the color of the radio button */
  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 1px solid black;
    border-radius: 50%; /* Make it circular */
    outline: none;
    background-color: transparent; /* Remove the dot background */

    min-height: 1em;
    min-width: 1em;
    // avoid shrinking on smaller screens
  }

  /* Style the dot when the radio button is checked */
  input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 0.65em;
    height: 0.65em;
    background: black; /* Set the dot color to black */
    border-radius: 50%;
    margin: 0.11em; /* Adjust the position of the dot */
  }
}

// CARDS
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 2em;

  p {
    max-width: 30em;

    color: var(--clr-primary-dark);
    font-family: var(--ff-body);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3em;
    letter-spacing: 0.2rem;
    text-transform: capitalize;

    padding-right: 1em;
    margin: 1em 0;
  }
}
.card {
  display: none;
  border: 1px solid #000;
  background: var(--clr-primary-neutral);
  padding: 1em;

  width: 50em;
  height: 50.5em;
  position: relative;

  h3 {
    color: #000;
    font-family: Forum;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem; /* 200% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    position: relative;
  }
  h3::before {
    position: absolute;
    content: "";
    background-color: var(--clr-accent);
    height: 1px;
    width: 10%;
    bottom: 0;
    left: 0;
  }

  h4 {
    color: #000;
    font-family: Inter;
    font-size: 1.5rem;
    line-height: 3em; /* 266.667% */
    letter-spacing: 0.2rem;

    margin-top: 1em;
  }

  span {
    text-transform: uppercase;
  }

  button {
    background: transparent;
    color: #0c0c0e;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;

    width: 7.5rem;
    height: 3rem;

    position: absolute;
    bottom: 1em;
    left: 1em;

    cursor: pointer;
  }

  button:hover,
  button:focus {
    color: var(--clr-accent);
    border: 1px solid var(--clr-accent);
  }
  // OWN text
  // .button:hover::after {
  //   content: "Own";
  // }

  // .button:not(:hover)::after {
  //   content: "Buy";
  // }
}
// Add class own and change the style add js from the profile to main html

.card.active {
  display: block;

  img {
    position: absolute;
    content: "";
    bottom: -0.1em;
    right: -3em;

    width: 16em;
    height: 26em;
  }
}

.season-selector {
  margin: 2em 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.season-selector label {
  margin-left: 1em;
  margin-right: 5em;
}

@media (max-width: 800px) {
  .season-selector {
    justify-content: space-between;
  }

  .card {
    margin: 0 auto;
  }
}

//MODAL buy
/* Initially hide the modal container */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Show the modal when the "show-modal" class is added */
.modal-container.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buying-popup-iframe {
  border: none;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
}

//SHOP

#coffee {
  p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 4rem; /* 200% */
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }

  .title-menu {
    color: #bb945f;
    font-family: Forum;
    font-size: 2.5rem;

    font-weight: 400;
    line-height: 4rem; /* 100% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }
  .title-menu::before {
    display: none;
  }

  ul {
    list-style: none;

    li {
      color: #000;
      font-family: Inter;
      font-size: 1.4rem;

      font-weight: 400;
      line-height: 4rem; /* 200% */
      letter-spacing: 0.2rem;
      text-transform: capitalize;

      // display: flex;
      // justify-items: flex-start;
      // FIX NEEDED !!!
    }

    .line {
      width: 5em;
      height: 0.1em;
      background-color: #bb945f;

      display: flex;
      align-self: center;
    }

    .price-menu {
      color: #000;
      font-family: Forum;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 4rem; /* 200% */
      letter-spacing: 0.2rem;
      text-transform: capitalize;
    }
  }

  .all-menu {
    display: flex;
    align-content: center;
    justify-content: space-around;

    flex-wrap: wrap;
  }

  .position {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 3em;
  }

  .position-2 {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 3em;
  }
}

#contacts {
  h3,
  span {
    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: 700;
    line-height: 4rem; /* 200% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }

  ul {
    list-style: none;

    color: #000;
    text-align: left;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 4rem; /* 200% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;
  }

  .tel {
    margin-bottom: 1em;
  }

  .container-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left-col-cont {
      display: block;
    }

    .right-col-cont {
      iframe.map {
        // display: flex;
        width: 69.6rem !important;
        height: 41.4rem !important;

        z-index: 999 !important;
      }
    }
  }
}
// Add classes to iframes to fix js/try affect only the first one then 2 and 3 ?

//Digital Library Cards
#cards {
  .wrapper-libcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .left-col-card {
      width: 60em;
      height: 38em;

      h3 {
        color: #000;
        font-family: Inter;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.06rem;

        text-align: center;
        margin-bottom: 1.5em;
      }

      form {
        border: 2px solid var(--clr-accent);
        border-radius: 2px;
        padding: 1em;
        background-color: white;
        .center-form {
          background-color: #bb945f;

          padding-bottom: 3em;
        }
        .center-form h2 {
          color: #000;
          font-family: Forum;
          font-size: 2.3rem;
          font-weight: 400;
          line-height: 5rem; /* 166.667% */
          letter-spacing: 0.06rem;
          margin: 0;
          text-align: left;

          margin-left: 1.5em;
        }
        h2::before {
          display: none;
        }

        .input-frame {
          display: flex;
          flex-direction: column;
          gap: 1em;
          justify-content: space-between;
          align-items: center;
        }

        input {
          border: 2px solid white;
          border-radius: 2px;
          width: 40em;
          height: 3em;
          padding-left: 1em;
        }

        button {
          color: #0c0c0e;
          text-align: center;
          font-family: Inter;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          border: 1px solid black;
          margin-top: 1em;
          padding: 0.5em 1em;
          background-color: #ffffff;
          cursor: pointer;
        }
        button:hover {
          background-color: #bb945f;
        }
        .action-btn {
          text-align: center;
        }
      }
    }
    .right-col-card {
      height: 38em;
      h3 {
        color: #000;
        text-align: right;
        font-family: Forum;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
      }
      p {
        color: #000;
        text-align: right;
        font-family: Inter;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 4rem; /* 200% */
        letter-spacing: 0.04rem;
      }

      .frame {
        width: 45em;
        margin: 3em 0;
      }

      .btns {
        text-align: right;
        button {
          color: #0c0c0e;
          font-family: Inter;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
          background-color: #ffffff;
          margin: 0.5em 1em;
          padding: 0.5em 1em;
          border: 1px solid black;
          cursor: pointer;
        }
        button:hover {
          background-color: #bb945f;
        }
      }
    }
  }
}
// ADD MEDIA
// FOOTER
footer {
  background: #0c0c0e;
  padding: 2em;

  position: relative;

  .part1 {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .part1::before {
    position: absolute;
    content: "";
    background-color: white;
    height: 1px;
    width: 100%;
    bottom: -2em;
  }

  .left-col-footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    justify-content: center;
    span {
      color: #fff;
      font-family: Inter;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2em; /* 133.333% */
    }
    .icons {
      display: flex;
      gap: 1em;
      cursor: pointer;
    }
  }
  .right-col-footer {
    .working {
      display: flex;
      flex-direction: column;
      gap: 2em;
      span {
        color: #fff;
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5em; /* 133.333% */
      }
    }
  }
  .part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4em 0 1em 0;

    position: relative;

    #date,
    .username {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 2rem;
      font-weight: 400;
      line-height: 4rem; /* 200% */
      letter-spacing: 0.2rem;
    }

    span {
      color: #fff;
      text-align: center;
      font-family: Inter;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2rem; /* 100% */
      letter-spacing: 0.2rem;
    }
  }

  i {
    color: white;
    font-size: 2.4rem;

    position: absolute;
    bottom: 0;
    left: 1em;
  }
}
//deal with the margin from the section

//What I learned?
//USE CLASSES NOT ELEMENTS
//apply var that is more useful (contains more parameters that are common to the page elements)
