:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;
  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

nav {
  background: var(--clr-accent-dark);
  padding: 1em 2em;
}

/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-accent-dark);
}

.fixed-nav .links a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  text-align: center;
}

.fixed-nav .links a:hover {
  color: var(--clr-accent);
}

.fixed-nav .links-container {
  height: auto !important;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-neutral);
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-accent);
}

.links-container {
  height: 0;
  overflow: hidden;
}

.show-links {
  height: 300px;
}

.links a {
  background: var(--clr-accent-dark);
  color: var(--clr-primary-neutral);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  line-height: 4em;
  text-align: center;
  list-style: none;
  display: block;
}

a.profile-link > img {
  width: 1.7em;
  height: 1.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 a {
  color: var(--clr-primary-neutral);
  text-decoration: none;
  font-family: var(--ff-head);
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.links a:hover {
  color: var(--clr-accent);
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 a {
    color: var(--clr-primary-neutral);
    text-decoration: none;
    font-family: var(--ff-head);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.06em;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    align-items: center;
  }
  .links a {
    color: var(--clr-primary-neutral);
    font-family: var(--ff-body);
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    background: transparent;
  }
  .links a:hover {
    color: var(--clr-accent);
  }
  a.profile-link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
header {
  min-height: 100vh;
  background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 100%), url(./img/hero.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  position: relative;
}

.container {
  background: var(--clr-accent-dark);
  width: 45%;
  padding: 3.5em 4em;
  position: absolute;
  left: 0;
  top: 20em;
}

.container h2 {
  color: var(--clr-primary-neutral);
  text-align: center;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .container h2 {
    font-size: 2rem;
  }
  .action {
    position: absolute;
    top: 20px;
    right: 55px;
  }
  .profile-link > img {
    display: flex;
  }
}
.action .profile {
  position: relative;
  width: 2.1em;
  height: 2.1em;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .menu {
  position: absolute;
  top: 60px;
  right: 50px;
  padding: 1em;
  background: var(--clr-primary-neutral);
  width: 8em;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
  transition: 0.5s;
  /* for js */
  visibility: hidden;
  opacity: 0;
  z-index: 111;
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2em;
  position: relative;
}

.action .menu h3::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent);
  height: 1px;
  width: 80%;
  bottom: 0;
  left: 10%;
}

.action .menu ul li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 1em 0;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .action .menu {
    position: absolute;
    top: 45px;
    right: -35px;
    padding: 1em;
    background: var(--clr-primary-neutral);
    width: 8em;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.11);
    transition: 0.5s;
    /* for js */
    visibility: hidden;
    opacity: 0;
    z-index: 111;
  }
  .action .menu ul li a {
    background: transparent;
    color: var(--clr-primary-dark);
    cursor: pointer;
  }
}
main {
  padding: 0 2em;
}

iframe {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

iframe.active {
  display: block;
}

.section {
  margin-bottom: 1em;
}
.section h2 {
  color: var(--clr-accent-dark);
  font-family: var(--ff-head);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.section h2::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent-dark);
  height: 1px;
  width: 2em;
  bottom: 0;
  left: 50%; /* Move it to the horizontal center of the container */
  transform: translateX(-50%); /* Center it horizontally */
}

#about p {
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2em; /* 200% */
}

.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  display: flex; /* Use flexbox to center vertically */
  justify-content: center; /* Center horizontally */
  align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2em;
  padding: 1.5em;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  margin: 0 2px;
  background-color: var(--clr-primary-dark);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--clr-accent);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 800px) {
  .slideshow-container {
    display: none;
  }
  .dots {
    display: none;
  }
  .gallery {
    justify-content: center;
    gap: 1em;
    display: flex;
    max-width: 100%;
  }
  .gallery img {
    max-width: 100%;
    height: auto;
    display: none;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 2em;
  }
  .pagination li {
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
    margin: 0 2px;
    background-color: var(--clr-primary-dark);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .pagination li:hover {
    background-color: var(--clr-accent);
  }
  .pagination .active {
    background-color: var(--clr-accent);
  }
}
@media (max-width: 800px) {
  .pagination-container {
    display: none;
  }
  .pagination {
    display: none;
  }
  .gallery img {
    display: none;
  }
}
#favorites {
  margin-right: 3em;
  /* Style labels for unchecked radio buttons */
  /* Style labels for checked radio buttons */
  /* CSS to change the color of the radio button */
  /* Style the dot when the radio button is checked */
}
#favorites h2 {
  margin-right: -1em;
}
#favorites h4 {
  color: var(--clr-primary-dark);
  text-align: left;
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 700;
}
#favorites label {
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.2rem;
}
#favorites input[type=radio] + label {
  font-weight: 400;
}
#favorites input[type=radio]:checked + label {
  font-weight: 700;
}
#favorites input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid black;
  border-radius: 50%; /* Make it circular */
  outline: none;
  background-color: transparent; /* Remove the dot background */
  min-height: 1em;
  min-width: 1em;
}
#favorites input[type=radio]:checked::before {
  content: "";
  display: block;
  width: 0.65em;
  height: 0.65em;
  background: black; /* Set the dot color to black */
  border-radius: 50%;
  margin: 0.11em; /* Adjust the position of the dot */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  gap: 2em;
}
.cards p {
  max-width: 30em;
  color: var(--clr-primary-dark);
  font-family: var(--ff-body);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3em;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  padding-right: 1em;
  margin: 1em 0;
}

.card {
  display: none;
  border: 1px solid #000;
  background: var(--clr-primary-neutral);
  padding: 1em;
  width: 50em;
  height: 50.5em;
  position: relative;
}
.card h3 {
  color: #000;
  font-family: Forum;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  position: relative;
}
.card h3::before {
  position: absolute;
  content: "";
  background-color: var(--clr-accent);
  height: 1px;
  width: 10%;
  bottom: 0;
  left: 0;
}
.card h4 {
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 3em; /* 266.667% */
  letter-spacing: 0.2rem;
  margin-top: 1em;
}
.card span {
  text-transform: uppercase;
}
.card button {
  background: transparent;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  bottom: 1em;
  left: 1em;
  cursor: pointer;
}
.card button:hover,
.card button:focus {
  color: var(--clr-accent);
  border: 1px solid var(--clr-accent);
}

.card.active {
  display: block;
}
.card.active img {
  position: absolute;
  content: "";
  bottom: -0.1em;
  right: -3em;
  width: 16em;
  height: 26em;
}

.season-selector {
  margin: 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.season-selector label {
  margin-left: 1em;
  margin-right: 5em;
}

@media (max-width: 800px) {
  .season-selector {
    justify-content: space-between;
  }
  .card {
    margin: 0 auto;
  }
}
/* Initially hide the modal container */
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Show the modal when the "show-modal" class is added */
.modal-container.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buying-popup-iframe {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: block;
}

#coffee p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
#coffee .title-menu {
  color: #bb945f;
  font-family: Forum;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4rem; /* 100% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#coffee .title-menu::before {
  display: none;
}
#coffee ul {
  list-style: none;
}
#coffee ul li {
  color: #000;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#coffee ul .line {
  width: 5em;
  height: 0.1em;
  background-color: #bb945f;
  display: flex;
  align-self: center;
}
#coffee ul .price-menu {
  color: #000;
  font-family: Forum;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#coffee .all-menu {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#coffee .position {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 3em;
}
#coffee .position-2 {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 3em;
}

#contacts h3,
#contacts span {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-weight: 700;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#contacts ul {
  list-style: none;
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}
#contacts .tel {
  margin-bottom: 1em;
}
#contacts .container-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#contacts .container-contacts .left-col-cont {
  display: block;
}
#contacts .container-contacts .right-col-cont iframe.map {
  width: 69.6rem !important;
  height: 41.4rem !important;
  z-index: 999 !important;
}

#cards .wrapper-libcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#cards .wrapper-libcard .left-col-card {
  width: 60em;
  height: 38em;
}
#cards .wrapper-libcard .left-col-card h3 {
  color: #000;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
  text-align: center;
  margin-bottom: 1.5em;
}
#cards .wrapper-libcard .left-col-card form {
  border: 2px solid var(--clr-accent);
  border-radius: 2px;
  padding: 1em;
  background-color: white;
}
#cards .wrapper-libcard .left-col-card form .center-form {
  background-color: #bb945f;
  padding-bottom: 3em;
}
#cards .wrapper-libcard .left-col-card form .center-form h2 {
  color: #000;
  font-family: Forum;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 5rem; /* 166.667% */
  letter-spacing: 0.06rem;
  margin: 0;
  text-align: left;
  margin-left: 1.5em;
}
#cards .wrapper-libcard .left-col-card form h2::before {
  display: none;
}
#cards .wrapper-libcard .left-col-card form .input-frame {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}
#cards .wrapper-libcard .left-col-card form input {
  border: 2px solid white;
  border-radius: 2px;
  width: 40em;
  height: 3em;
  padding-left: 1em;
}
#cards .wrapper-libcard .left-col-card form button {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: 1px solid black;
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: #ffffff;
  cursor: pointer;
}
#cards .wrapper-libcard .left-col-card form button:hover {
  background-color: #bb945f;
}
#cards .wrapper-libcard .left-col-card form .action-btn {
  text-align: center;
}
#cards .wrapper-libcard .right-col-card {
  height: 38em;
}
#cards .wrapper-libcard .right-col-card h3 {
  color: #000;
  text-align: right;
  font-family: Forum;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}
#cards .wrapper-libcard .right-col-card p {
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 4rem; /* 200% */
  letter-spacing: 0.04rem;
}
#cards .wrapper-libcard .right-col-card .frame {
  width: 45em;
  margin: 3em 0;
}
#cards .wrapper-libcard .right-col-card .btns {
  text-align: right;
}
#cards .wrapper-libcard .right-col-card .btns button {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #ffffff;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border: 1px solid black;
  cursor: pointer;
}
#cards .wrapper-libcard .right-col-card .btns button:hover {
  background-color: #bb945f;
}/*# sourceMappingURL=style.css.map */