:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;

  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  margin: 0 auto;
  width: 60em;
  height: 100%;
  margin-top: 3em;
  display: grid;
  position: relative;
}

.left-col {
  background-color: var(--clr-accent-dark);
  padding-top: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profile-data {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .avatar {
    width: 8em;
    height: 8em;
    background-color: var(--clr-primary-neutral);

    display: flex;
    align-items: center;

    margin-bottom: 1em;
  }

  .letters {
    color: var(--clr-accent);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem; /* 100% */
    text-transform: capitalize;

    margin: 0 auto;
  }

  .profile-name-container {
    width: 12em;
    height: 3em;
    background-color: var(--clr-primary-neutral);

    display: flex;
    align-items: center;
  }

  .profile-name {
    color: var(--clr-primary-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.5rem;

    font-weight: 400;
    line-height: 2rem; /* 100% */
    text-transform: capitalize;

    margin: 0 auto;
  }
}

.right-col {
  background-color: var(--clr-primary-neutral);
  grid-column-start: 2;
  padding: 2em;
}

#close-popup {
  position: absolute;
  right: 1em;
  top: 1em;

  background-color: transparent;
  border: transparent;

  cursor: pointer;

  svg {
    width: 1em;
    height: 1em;
  }
}

h1 {
  color: var(--clr-primary-dark);
  text-align: left;
  font-family: var(--ff-head);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 50% */
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.stats {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
}

.first-card,
.second-card,
.third-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 2em;

  h3 {
    color: var(--clr-primary-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.04rem;
    text-transform: capitalize;
  }

  img {
    margin: 0.5em;
  }

  .number {
    color: var(--clr-primary-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem; /* 200% */
    letter-spacing: 0.02rem;
    text-transform: capitalize;
  }
}

.books {
  h2 {
    color: var(--clr-accent-dark);
    text-align: left;
    font-family: var(--ff-body);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 80% */

    margin-bottom: 1em;
  }

  ul li a {
    color: var(--clr-primary-dark);
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.2rem;
    text-transform: capitalize;

    text-decoration: none;
  }
  ul {
    margin-bottom: 2em;
    margin-left: 2em;
  }
}

.card-number {
  display: flex;
  gap: 0.2em;
  justify-content: flex-start;
  h3 {
    color: var(--clr-accent-dark);
    text-align: left;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.04rem;
  }

  input {
    border: transparent;
    color: var(--clr-accent);
    background-color: var(--clr-primary-neutral);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem; /* 100% */

    max-width: 100px;
  }

  #copy-button {
    border: transparent;
    background-color: var(--clr-primary-neutral);
  }
}
