:root {
  --clr-accent: #bb945f;
  --clr-accent-neutral: #8e8e8e;
  --clr-accent-dark: #0c0c0e;
  --clr-primary-neutral: #ffffff;
  --clr-primary-dark: #000000;

  --ff-primary: "Inter", sans-serif;
  --ff-head: "Forum", serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-head);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--clr-primary-neutral);
  font-family: var(--ff-body);
}

.center {
  // display: grid;
  // place-items: center;
  // margin: 2em;
  // justify-content: center;
  // height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-primary-neutral);

  h1 {
    font-family: var(--ff-head);
    color: var(--clr-primary-dark);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem; /* 100% */
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 2em;

    width: 400px;
    // optional for this case
  }
}

.center form {
  padding: 0 4em;
}

form .txt-field {
  position: relative;
  margin: 3em 0;

  input {
    width: 100%;
    border: 1px solid var(--clr-accent);
    padding: 0 0.5em;
    height: 2em;
    width: 20em;
    font-size: 1.6em;
  }

  label {
    position: absolute;
    top: -1em;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
    letter-spacing: 0.03rem;

    pointer-events: none;
  }
}

input[type="submit"] {
  width: 7.5em;
  height: 3em;
  border: 1px solid;
  background: var(--clr-primary-neutral);
  color: var(--clr-primary-dark);
  text-align: center;
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;

  margin-top: -1em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: var(--clr-accent);
  transition: 0.5s;
}

.signup-link {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1em;
  color: var(--clr-primary-dark);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: var(--ff-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;

  a {
    color: var(--clr-accent-dark);
    text-align: center;
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-decoration-line: underline;
  }
}
